<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bi.bigroup.life">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".BiGroupApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Fabric (Crashlytics) settings -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="018a1a65c35e55f3a8fae8bec8135acaba4b36e1"/>

        <!-- Local Settings -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${manifestFileProvider}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Bi Group application settings -->
        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.auth.ForgotPwdActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.auth.NewPwdActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.main.employees.EmployeePageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.main.feed.news.NewsDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.main.office.tasks_sdesk.TasksSdeskActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.main.question.AddQuestionActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>